<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org" lang="cat">

<head th:replace="generic/head :: header">
</head>

<body class="container mt-5 pt-5">

	<div class="alert alert-info text-center" th:text="'Es necessari crear una empresa per continuar'"></div>
	<div class="pb-4">
		<h2 th:text="${titol}"></h2>
	</div>

	<div class="row">
		<form th:action="@{/empreses/result}" th:object="${empresa}" method="post" enctype="multipart/form-data">
			<div class="mb-3 col-1">
				<label for="nombre" class="form-label">Nom</label> <input
					type="text" class="form-control" id="nombre" th:field="*{nombre}" />
			</div>
			<div th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"
				class="alert alert-danger"></div>
			<div class="mb-3 col-4">
				<label for="cif" class="form-label">CIF</label> <input type="text"
					class="form-control" id="cif" th:field="*{cif}" />
			</div>
			<div th:if="${#fields.hasErrors('cif')}" th:errors="*{cif}"
				class="alert alert-danger"></div>


			<div class="mb-3 col-4">
				<label for="cif" class="form-label">Adreça</label> <input
					type="text" class="form-control" id="direccion"
					th:field="*{direccion}" />
			</div>
			<div th:if="${#fields.hasErrors('direccion')}"
				th:errors="*{direccion}" class="alert alert-danger"></div>


			<div class="mb-3 col-4">
				<img class="img-thumbnail img-fluid" style="max-width: 35%;"
					th:if="${#strings.length(empresa.logo)>0}"
					th:src="@{'/uploads/' + ${empresa.logo}}" th:alt="${empresa.logo}" />
				<label for="file" class="form-label">Logo</label> <input
					type="file" class="form-control" name="file"/>
			</div>			

			<input type="submit" class="btn btn-primary" th:value="${titol}" />
		</form>
	</div>

</body>

</html>