<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org" lang="cat">

<head th:replace="generic/main :: head">
</head>

<body>
  <!-- 
		Vista on es realitza l'alta d'una empresa al programa TaskMan
		Tots els camps són obligatoris d'emprar
	-->
  <div th:if="${crear} == true">
    <div th:replace="generic/main :: navbar-generic"></div>
  </div>
  <div th:if="${crear} ==false">
    <div th:replace="generic/main :: navbar-empresa"></div>
  </div>
  <div class="container mt-5 pt-5" id="move-content">

    <div class="pb-4">
      <h1>Política de privacitat</h1>
      <hr />
    </div>

    <div class="mt-1">
      <h3>Política de privacitat</h3>
      <i class="text-muted pb-1">Última actualització: 31 de desembre de 2021</i>
      <p class="mt-3">Aquesta Política de privacitat descriu les nostres polítiques i procediments sobre la recopilació,
        ús i divulgació de La seva informació quan usa el Servei i l'informa sobre els seus drets de privacitat i com la
        llei ho protegeix.</p>
      <p>Fem ús de les seves dades personals per a proporcionar i millorar el servei. En utilitzar el Servei, accepta la
        recopilació i l'ús d'informació d'acord amb aquesta Política de privacitat. Aquesta Política de privacitat s'ha
        creat amb l'ajuda de la <a href="https://www.privacypolicies.com/blog/privacy-policy-template/"
          target="_blank">Plantilla de polítiques de privacitat</a>.</p>
    </div>

    <div class="pb-4 mt-5">
      <h1>Interpretació i definicions</h1>
      <hr />
    </div>

    <div>
      <h3>Interpretació</h3>
      <p class="mt-3">Les paraules amb la lletra inicial en majúscula tenen significats definits en les
        següents condicions. Les següents definicions tindran el mateix significat independentment que apareguin en
        singular o en plural.</p>

      <h3 class="mt-5">Definicions</h3>
      <p class="mt-3">A l'efecte d'aquesta Política de privacitat:</p>
      <ul>
        <li>
          <p><strong>Compte</strong> significa un compte únic creat perquè vostè accedeixi al nostre Servei o parts del
            nostre Servei.</p>
        </li>
        <li>
          <p><strong>Afiliat</strong> significa una entitat que controla, està controlada per o està sota control comú
            amb una part, on "control" significa la propietat del 50% o més de les accions, participació en el capital
            social o altres valors amb dret a vot per a l'elecció de directors o una altra autoritat de gestió.</p>
        </li>
        <li>
          <p><strong>Aplicació</strong> significa el programa de programari proporcionat per la Companyia descarregat
            per Vostè en qualsevol dispositiu electrònic, anomenat Taskman.</p>
        </li>
        <li>
          <p><strong>Companyia</strong> (denominada "la Companyia", "Nosaltres", "Ens" o "El nostre" en aquest Acord) es
            refereix a Taskman.</p>
        </li>
        <li>
          <p><strong>País</strong> es refereix a: Espanya</p>
        </li>
        <li>
          <p><strong>Dispositiu</strong> significa qualsevol dispositiu que pugui accedir al Servei, com una
            computadora, un telèfon cel·lular o una tauleta digital.</p>
        </li>
        <li>
          <p><strong>Dades personals</strong> són qualsevol informació que es relacioni amb una persona identificada o
            identificable.</p>
        </li>
        <li>
          <p><strong>Servei</strong> es refereix a l'aplicació.</p>
        </li>
        <li>
          <p><strong>Proveïdor de serveis</strong> significa qualsevol persona física o jurídica que processa les dades
            en nom de la Companyia. Es refereix a empreses de tercers o persones ocupades per la Companyia per a
            facilitar el Servei, per a proporcionar el Servei en nom de la Companyia, per a realitzar serveis
            relacionats amb el Servei o per a ajudar la Companyia a analitzar com s'utilitza el Servei.</p>
        </li>
        <li>
          <p><strong>Dades d'ús</strong> es refereixen a les dades recopilades automàticament, ja sigui generats per
            l'ús del Servei o des de la mateixa infraestructura del Servei (per exemple, la durada d'una visita a la
            pàgina).</p>
        </li>
        <li>
          <p><strong>Vostè</strong> es refereix a la persona que accedeix o fa us del Servei, o l'empresa o una altra
            entitat legal en nom de la com aquesta persona accedeix o fa us del Servei, segons correspongui.</p>
        </li>
      </ul>
    </div>

    <div class="pb-4 mt-5">
      <h1>Recopilació i ús de les seves dades personals</h1>
      <hr />
    </div>
    <div>
      <h3>Tipus de dades recopilades</h3>
      <h4 class="mt-4">Informació personal</h4>
      <p class="mt-3">En usar El nostre Servei, podem demanar-li que ens proporcioni una certa informació
        d'identificació personal que pugui usar-se per a contactar-ho o identificar-ho. La informació d'identificació
        personal pot incloure, entre altres:</p>
      <ul>
        <li>
          <p>Adreça de correu electrònic</p>
        </li>
        <li>
          <p>Nom i cognoms</p>
        </li>
        <li>
          <p>Número de telèfon</p>
        </li>
        <li>
          <p>Adreça, estat, província, codi postal i ciutat</p>
        </li>
        <li>
          <p>Dades d'ús</p>
        </li>
      </ul>
      <h4 class="mt-4">Dades d'ús</h4>
      <p class="mt-3">Les dades d'ús es recopilen automàticament quan s'utilitza el servei.</p>
      <p>Les dades d'ús poden incloure informació com l'adreça del Protocol d'Internet del seu dispositiu (per exemple,
        l'adreça IP), el tipus de navegador, la versió del navegador, les pàgines del nostre Servei que visita, l'hora i
        data de la seva visita, el temps que va passar en aquestes pàgines, el dispositiu únic identificadors i altres
        dades de diagnòstic.</p>
      <p>Quan accedeix al Servei a través d'un dispositiu mòbil, podem recopilar una certa informació automàticament,
        que inclou, entre altres, el tipus de dispositiu mòbil que fa servir, la identificació única del seu dispositiu
        mòbil, l'adreça IP del seu dispositiu mòbil, el seu dispositiu mòbil sistema operatiu, el tipus de navegador
        d'Internet mòbil que fa servir, identificadors de dispositiu únics i altres dades de diagnòstic.</p>
      <p>També podem recopilar informació que el seu navegador envia cada vegada que visita el nostre Servei o quan
        accedeix al Servei a través d'un dispositiu mòbil.</p>

      <h3 class="mt-5">Ús de les seves dades personals</h3>
      <p class="mt-3">La Companyia pot usar Dades Personals per als següents propòsits:</p>
      <ul>
        <li>
          <p><strong>Per proporcionar i mantenir el nostre servei</strong>, fins i tot per a controlar l'ús del nostre
            Servei.</p>
        </li>
        <li>
          <p><strong>Per administrar el seu compte:</strong> per a administrar El seu registre com a usuari del Servei.
            Les Dades Personals que proporcioni poden donar-li accés a diferents funcionalitats del Servei que estan
            disponibles per a Vostè com a usuari registrat.</p>
        </li>
        <li>
          <p><strong>Per a l'execució d'un contracte:</strong> el desenvolupament, compliment i execució del contracte
            de compra dels productes, articles o serveis que hagi comprat o de qualsevol altre contracte amb Nosaltres a
            través del Servei.</p>
        </li>
        <li>
          <p><strong>Per contactar-ho:</strong> per contactar-ho mitjançant correu electrònic, trucades telefòniques,
            SMS o altres maneres equivalents de comunicació electrònica, com les notificacions <i>push</i> d'una
            aplicació mòbil sobre actualitzacions o comunicacions informatives relacionades amb les funcionalitats,
            productes o serveis contractats, incloses les actualitzacions de seguretat, quan sigui necessari o raonable
            per a la seva implementació.</p>
        </li>
        <li>
          <p><strong>Per informar-lo</strong> sobre notícies i informació general sobre altres béns, serveis i
            esdeveniments que oferim.</p>
        </li>
        <li>
          <p><strong>Per gestionar les seves sol·licituds:</strong> per atendre i gestionar les sol·licituds que ens
            realitzin.</p>
        </li>
        <li>
          <p><strong>Per transferències comercials:</strong> podem utilitzar la seva informació per avaluar o portar a
            terme una fusió, desinversió, reestructuració, reorganització, dissolució o altra venda o transferència
            d'alguns o tots els nostres actius, ja sigui com una empresa en funcionamient o com a part d'una fallida,
            liquidació, o procediment similar, en el que les dades personals que tenim sobre els usuaris del nostre
            servei es trobin entre els actius transferits.</p>
        </li>
        <li>
          <p><strong>Per altres finalitats</strong>: podem fer servir la seva informació per altres finalitats, com
            anàlisi de dades, identificació de tendències d'ús i per avaluar i millorar el nostre Servei, productes,
            serveis, màrqueting i la seva experiència.
          </p>
        </li>
      </ul>
      <p>Podem compartir la seva informació personal en les següents situacions:</p>
      <ul>
        <li>
          <p><strong>Amb proveïdors de serveis:</strong> podem compartir la seva informació personal amb proveïdors de
            serveis per monitorar i analitzar l'ús del nostre servei, per comunicar-nos amb vostè.</p>
        </li>
        <li>
          <p><strong>Per transferències comercials:</strong> podem compartir o transferir la vostra informació personal
            en relació amb, o durant les negociacions de, qualsevol fusió, venda d'actius de la Companyia, finançament o
            adquisició de la totalitat o una part del nostre negoci a una altra companyia.</p>
        </li>
        <li>
          <p><strong>Amb afiliats:</strong> podem compartir la seva informació amb els nostres afiliats, en aquest cas
            els exigirem que compleixin aquesta Política de privacitat. Els afiliats inclouen la nostra empresa matriu i
            qualsevol altra subsidiària, socis d'empreses conjuntes o d'altres empreses que controlem o que estiguin
            sota control comú amb nosaltres.</p>
        </li>
        <li>
          <p><strong>Amb socis comercials:</strong> podem compartir la seva informació amb els nostres socis comercials
            per oferir certs productes, serveis o promocions.</p>
        </li>
        <li>
          <p><strong>Amb altres usuaris:</strong> quan comparteix informació personal o interactua d'una altra manera a
            les àrees públiques amb altres usuaris, aquesta informació pot ser vista per tots els usuaris i es pot
            distribuir públicament a l'exterior.</p>
        </li>
        <li>
          <p><strong>Amb el seu consentiment:</strong> podem divulgar la seva informació personal per a qualsevol altre
            propòsit amb el seu consentiment.</p>
        </li>
      </ul>

      <h3 class="mt-5">Conservació de les seves dades personals</h3>
      <p class="mt-3">La Companyia retindrà les seves dades personals només durant el temps que sigui necessari per als
        fins establerts en aquesta política de privacitat. Retindrem i farem servir les seves dades personals en la
        mesura necessària per complir les nostres obligacions legals (per exemple, si estem obligats a retenir les seves
        dades per complir les lleis aplicables), resoldre disputes i fer complir els nostres acords i polítiques legals.
      </p>
      <p>La Companyia també retindrà les dades d'ús amb finalitats d'anàlisi interna. Les dades d'ús generalment es
        conserven per un període de temps més curt, excepte quan aquestes dades es fan servir per enfortir la seguretat
        o millorar la funcionalitat del nostre servei, o estem legalment obligats a retenir aquestes dades per períodes
        de temps més llargs.</p>

      <h3 class="mt-5">Transferència de les seves dades personals</h3>
      <p class="mt-3">La seva informació, incloses les Dades personals, es processa a les oficines operatives de la
        Companyia i a qualsevol altre lloc on es trobin les parts involucrades en el processament. Significa que aquesta
        informació es pot transferir i mantenir en ordinadors ubicats fora del seu estat, província, país o una altra
        jurisdicció governamental on les lleis de protecció de dades poden diferir de les de la seva jurisdicció.</p>
      <p>El seu consentiment a aquesta Política de privacitat seguit de la seva tramesa d'aquesta informació representa
        la seva acceptació d'aquesta transferència.</p>
      <p>La Companyia prendrà totes les mesures raonablement necessàries per garantir que les seves dades siguin
        tractades de forma segura i d'acord amb aquesta política de Privacitat i no es realitzarà cap transferència de
        les Seves Dades Personals a una organització o país llevat que hi hagi controls adequats establerts, inclosa la
        seguretat de les teves dades i altra informació personal.</p>
    </div>

    <div class="pb-4 mt-5">
      <h1>Divulgació de les seves dades personals</h1>
      <hr />
    </div>

    <div>
      <h3>Transaccions de negocis</h3>
      <p class="mt-3">Si la Companyia està involucrada en una fusió, adquisició o venda d'actius, les seves Dades
        personals poden ser transferides. Us avisarem abans que les seves dades personals es transfereixin i estiguin
        subjectes a una política de privadesa diferent.</p>

      <h3 class="mt-5">Compliment de la llei</h3>
      <p class="mt-3">En determinades circumstàncies, és possible que se us demani a la Companyia que reveli les vostres
        dades personals si així ho exigeix la llei o en resposta a sol·licituds vàlides de les autoritats públiques (per
        exemple, un tribunal o una agència governamental).</p>

      <h3 class="mt-5">Altres requisits legals</h3>
      <p class="mt-3">La Companyia pot divulgar les seves dades personals si creieu de bona fe que aquesta acció és
        necessària per:
      </p>
      <ul>
        <li>
          <p>
            Complir una obligació legal</p>
        </li>
        <li>
          <p>
            Protegir i defensar els drets o la propietat de la Companyia.</p>
        </li>
        <li>
          <p>
            Prevenir o investigar possibles irregularitats en relació amb el servei.</p>
        </li>
        <li>
          <p>
            Protegir la seguretat personal dels usuaris del servei o del públic.</p>
        </li>
        <li>
          <p>
            Protegiu-vos contra la responsabilitat legal.</p>
        </li>
      </ul>

      <div class="pb-4 mt-5">
        <h1>Seguretat de les seves dades personals</h1>
        <hr />
      </div>

      <div>
        <p>La seguretat de les seves dades personals és important per a nosaltres, però recordi que cap mètode de
          transmissió a través d'Internet o mètode d'emmagatzematge electrònic és 100% segur. Si bé ens esforcem per
          utilitzar mitjans comercialment acceptables per protegir les seves dades personals, no podem garantir la
          vostra seguretat absoluta.</p>

        <h3 class="mt-5">Privacitat dels nens</h3>
        <p class="mt-3">El nostre Servei no s'adreça a cap persona menor de 13 anys. No recopilem sabent informació
          d'identificació personal de cap persona menor de 13 anys. Si vostè és un pare o tutor i sap que el seu fill
          ens ha proporcionat dades personals, si us plau, contacti amb nosaltres. Si ens adonem que hem recopilat Dades
          personals de qualsevol persona menor de 13 anys sense la verificació del consentiment dels pares, prenem
          mesures per eliminar aquesta informació de Els nostres servidors.</p>
        <p>Si necessitem dependre del consentiment com a base legal per processar la vostra informació i el vostre país
          requereix el consentiment d'un dels pares, és possible que necessitem el consentiment dels pares abans de
          recopilar i utilitzar aquesta informació.</p>

        <h3 class="mt-5">Enllaços a altres llocs web</h3>
        <p class="mt-3">El nostre Servei pot contenir enllaços a altres llocs web que no són operats per Nosaltres. Si
          fa clic a l'enllaç d'un tercer, us el dirigiu al lloc d'aquest tercer. Us recomanem encaridament que revisi la
          Política de privacitat de cada lloc que visiti.</p>
        <p>No tenim control ni assumim cap responsabilitat pel contingut, les polítiques de privacitat o les pràctiques
          dels llocs o serveis de tercers.</p>
      </div>

      <div class="pb-4 mt-5">
        <h1>Canvis a aquesta política de privacitat</h1>
        <hr />
      </div>

      <div>
        <p>És possible que actualitzem la nostra Política de privacitat de tant en tant. Li notificarem de qualsevol
          canvi publicant la nova Política de privacitat en aquesta pàgina.</p>
        <p>L'informarem per correu electrònic o un avís destacat al nostre Servei, abans que el canvi entri en vigència
          i actualitzarem la data de "Última actualització" a la part superior d'aquesta Política de privacitat.</p>
        <p>Se us aconsella que reviseu aquesta Política de privacitat periòdicament per veure si hi ha canvis. Els
          canvis a aquesta Política de privacitat entren en vigència quan es publiquen en aquesta pàgina.</p>
      </div>

      <div class="pb-4 mt-5">
        <h1>Contacti amb nosaltres</h1>
        <hr />
      </div>
      <div>
        <p>Si teniu alguna pregunta sobre aquesta Política de privadesa, pot contactar amb nosaltres mitjançant el
          número de telèfon <strong>618979695</strong></p>
      </div>

    </div>
    <div class="row mt-5" th:if="${aceptar}">
      <div class="d-flex justify-content-center">
        <div class="col-sm-3">
          <div class="input-group mb-3">
            <a class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Acceptar"
              th:href="@{/usuaris/aceptarPrivacidad}" th:text="Acceptar"></a>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="input-group mb-3">
            <form id="logoutForm" th:action="@{/logout}" method="post" style=" margin-left: 10%;">
              <p onclick="document.getElementById('logoutForm').submit();" class="btn btn-danger"
                data-bs-toggle="tooltip" data-bs-placement="bottom" title="Rebutjar" type="submit">Rebutjar</p>
            </form>
          </div>
        </div>
      </div>
    </div>

  </div>

  <footer th:replace="generic/main :: peu-pagina-generic"></footer>
</body>

</html>