<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${titol}"></title>

</head>
<body>

	<h1 th:text="${titol}"></h1>

	<form th:action="@{/departaments/result}" th:object="${departament}" method="post">


		<label for="codigo">Código</label>
		<div>
			<input type="text" id="codigo" th:field="*{codigo}">
		</div>
		<div th:if="${#fields.hasErrors('codigo')}" th:errors="*{codigo}"></div>



		<label for="nombre">Nombre</label>
		<div>
			<input type="text" id="nombre" th:field="*{nombre}" />

		</div>
		<div th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></div>


		<div>
			<input type="submit" th:value="${titol}"/>
		</div>



	</form>

</body>
</html>