<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org">

<head th:replace="generic/head :: header">
</head>

<body class="container mt-5 pt-5">
    <div class="pb-4">
        <h2 th:text="${titol}"></h2>
    </div>
    <div class="row">
        <form th:action="@{/departaments/result}" th:object="${departament}" method="post">
            <div class="mb-3 col-1">
                <label for="nom-alias" class="form-label">Alias</label>
                <input type="text" class="form-control" id="nom-alias" th:field="*{codigo}" />
            </div>
            <div th:if="${#fields.hasErrors('codigo')}" th:errors="*{codigo}" class="alert alert-danger"></div>
            <div class="mb-3 col-4">
                <label for="nom-departament" class="form-label" >Nom del departament</label>
                <input type="text" class="form-control" id="nom-departament" th:field="*{nombre}"/>
            </div>
            <div th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}" class="alert alert-danger"></div>
            
           
            <input type="submit" class="btn btn-primary" th:value="${titol}" />
        </form>
    </div>

</body>

</html>