<!DOCTYPE html>
<html lang="cat" xmlns:th="http://www.thymeLeaf.org">

<head th:replace="generic/main :: head">
</head>

<body>
	<!-- 
		Vista on es troben llistats tots els departaments amb els seus camps assignats (ID, Àlies, i Nom)
		Des d'aquesta vista es podrà accedir en detall dins d'un departament, edita-ho, eliminar-ho, i 
		fer una cerca del departament per l'àlies o el nom
	-->
	<div th:replace="generic/main :: navbar-empresa"></div>
	<div class="container mt-5 pt-5" id="move-content">
		<div th:replace="generic/main :: mensajes"></div>
		<div class="pb-5">
			<h3 class="float-start">Llistat dels departaments</h3>
		</div>
		<!-- Botó per crear un nou departament -->
		<div class="pt-3 pb-3 row">
			<div class="col-md-8 col-lg-8 col-sm-12 float-start pt-3">
				<a class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="bottom"
					title="Crear nou departament" th:href="@{/departaments/crear}">Crear
					departament</a>
			</div>
			<!-- Cercador per buscar un departament existent -->
			<div class="boto-cercar-departament col-md-4 col-lg-4 col-sm-12 float-end pt-3" th:if="${not filtrado}">
				<form class="d-flex" th:action="@{/departaments/listar}" method="get">
					<input class="form-control" type="text" placeholder="Cercar departament" aria-label="Search"
						name="keyword" id=>
					<button class="btn btn-primary" type="submit">Cercar</button>
				</form>
			</div>
			<!-- Departament trobat a la cerca -->
			<div th:if="${filtrado}" class="boto-eliminar-filtre col-md-4 col-lg-4 col-sm-12 text-end pt-3">
				<a class="btn btn-primary" th:href="@{/departaments/listar}" th:text="'Eliminar filtre'"></a>
			</div>
		</div>

		<!-- Taula del llistat dels departaments existents -->
		<div class="row">
			<div class="col-12">
				<table class="mt-3 table table-striped">
					<thead class="thead-dark">
						<tr>
							<!-- Titols -->
							<th class="text-center" scope="col">#</th>
							<th class="text-center" width="15%" scope="col">Àlies</th>
							<th width="85%" scope="col">Nom</th>
							<th class="text-center" scope="col">Editar</th>
							<th class="text-center" scope="col">Eliminar</th>
						</tr>
					</thead>
					<!-- Departaments llistats -->
					<tbody>
						<tr th:each="departament: ${departaments}">
							<td class="text-center">
								<a class="btn btn-outline-primary btn-sm" data-bs-toggle="tooltip"
									data-bs-placement="bottom" title="Veure departament"
									th:href="@{/departaments/ver/}+ ${departament.id}" th:text="${departament.id}"></a>
							</td>
							<td class="text-center" th:text="${departament.codigo}"></td>
							<td th:text="${departament.nombre}"></td>
							<td class="text-center">
								<a data-bs-toggle="tooltip" data-bs-placement="bottom"
								title="Editar" th:href="@{/departaments/actualizar/}+ ${departament.id}"><i
										class="fas fa-edit text-primary"></i>
								</a>
							</td>
							<td class="text-center">
								<a data-bs-toggle="tooltip" data-bs-placement="bottom"
								title="Eliminar" th:href="@{/departaments/eliminar/}+ ${departament.id}"
									onclick="return confirm('Estàs segur que vols eliminar?');"><i
										class="fas fa-trash text-danger"></i>
								</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<footer th:replace="generic/main :: footer"></footer>

</body>

</html>