<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org">

<head th:replace="generic/main :: head">
</head>

<body class="d-flex flex-column h-100">
  <!-- 
		Vista on es pot veure el detall del departament seleccionat (ID, Àlies, i Nom)
		A sota d'aquests camps d'informació, es poden mostrar u ocultar els usuaris
		assignats a aquest departamentn
	-->
  <div th:replace="generic/main :: navbar-empresa"></div>
  <div class="container mt-5 pt-5" id="move-content">

    <div th:replace="generic/main :: mensajes"></div>
    <div class="pb-4">
      <h3 th:text="${titol}"></h3>
    </div>
    <!-- Camps del departament seleccionat ( ID | Àlies | Nom )-->
    <div class="row">
      <form th:action="@{/departaments/result}" th:object="${departament}" method="post">
        <fieldset disabled>
          <!-- ID -->
          <div class="mb-3 col-2 col-sm-2 col-md-2 col-lg-1 col-xl-1">
            <label for="id" class="form-label">ID</label> <input type="text" class="form-control" id="id"
              th:field="*{id}" />
          </div>
          <!-- Àlies -->
          <div class="mb-3 col-2 col-sm-2 col-md-2 col-lg-1 col-xl-1">
            <label for="nom-alias" class="form-label">Àlies</label> <input type="text" class="form-control"
              id="nom-alias" th:field="*{codigo}" />
          </div>
          <!-- Nom del departament -->
          <div class="mb-3 col-6 col-sm-6 col-md-6 col-lg-4 col-xl-4">
            <label for="nom-departament" class="form-label">Nom del departament</label>
            <input type="text" class="form-control" id="nom-departament" th:field="*{nombre}" />
          </div>
        </fieldset>
      </form>
    </div>
    <!-- Botó per ocultar / mostrar la llista -->
    <input type="submit" class="btn btn-primary mt-3" id="btn-filtres" data-bs-toggle="tooltip"
      data-bs-placement="bottom" title="Mostrar els usuaris que pertanyen a aquest departament" th:value="${boton}" />
    <!-- Llistat d'usuaris assignats a aquest departament -->
    <div class="row mt-5" id="mostrar-taula">
      <div class="pb-4 mt-3">
        <h3 class="float-start">Llistat dels usuaris</h3>
      </div>
      <div class="col-12 mt-4 pt-1">
        <table class="mt-3 table table-striped">
          <thead>
            <tr>
              <th class="text-center" scope="col">#</th>
              <th scope="col">Nom</th>
              <th scope="col">Cognoms</th>
              <th scope="col">DNI</th>
              <th scope="col">Correu electrònic</th>
              <th scope="col">Telèfon</th>
              <th scope="col">Rol</th>
              <th class="text-center" scope="col">Editar</th>
              <th class="text-center" scope="col">Eliminar</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="usuari: ${usuaris}">
              <td class="text-center"><a data-bs-toggle="tooltip" data-bs-placement="bottom" title="Veure usuari"
                  class="btn btn-outline-primary btn-sm" th:href="@{/usuaris/ver/}+ ${usuari.id}"
                  th:text="${usuari.id}"></a></td>
              <td th:text="${usuari.nombre}"></td>
              <td th:text="${usuari.apellidos}"></td>
              <td th:text="${usuari.dni}"></td>
              <td th:text="${usuari.email}"></td>
              <td th:text="${usuari.telefono}"></td>
              <td th:text="${usuari.rol.nombre}"></td>
              <td class="text-center"><a data-bs-toggle="tooltip" data-bs-placement="bottom" title="Editar"
                  th:href="@{/usuaris/actualizar/}+ ${usuari.id}"><i class="fas fa-edit text-primary"></i></a></td>
              <td class="text-center"><a data-bs-toggle="tooltip" data-bs-placement="bottom" title="Eliminar"
                  th:href="@{/usuaris/eliminar/}+ ${usuari.id}"
                  onclick="return confirm('Estàs segur que vols eliminar?');"><i
                    class="fas fa-trash text-danger"></i></a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <footer th:replace="generic/main :: peu-pagina"></footer>

</body>

</html>