<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org" lang="cat">

<head th:replace="generic/main :: head">
</head>

<body>
  <!-- 
		Vista que es mostrarà quan un usuari intenti accedir a una pàgina web on no té permisos
  -->
  <div th:replace="generic/main :: navbar-generic"></div>
  <div th:replace="generic/main :: mensajes"></div>
  <div class="container">


    <div class="d-flex justify-content-center">
      <div class="row">
        <div class="col-2"></div>
        <div class="card border-card mb-3 col-8">
          <img th:src="@{/img/500-server-internal-error.png}" class="card-img-top border-card" alt="Error intern del servidor">
        </div>
        <div class="card-body d-flex justify-content-center">
          <div class="row">
            <div class="col-12">
              <h5 class="card-title title-error accent-blue">500 - Error intern del servidor</h5>
              <hr class="accent-blue">
              <p class="card-text text-error text-muted text-end fst-italic" th:text="${timestamp}"></p>
              <p class="card-text text-error">Actualment estem experimentant problemes amb la pàgina web a la qual intentes accedir.</p>
              <p class="card-text text-error">Estem treballant per solucionar-ho al més aviat possible. Et demanem disculpes per les molèsties.</p>
              
              <a th:href="@{/}" class="btn btn-primary text-error mt-3" role="button">Pàgina principal</a>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <footer th:replace="generic/main :: footer"></footer>
</body>

</html>