<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org" lang="cat">

<head th:replace="generic/main :: head">
</head>

<body class="d-flex flex-column h-100">
  <!-- 
		Vista que es mostrarà quan un usuari intenti accedir a una pàgina web on no té permisos
  -->
  <div th:replace="generic/main :: navbar-generic"></div>
  <div th:replace="generic/main :: mensajes"></div>
  <div class="container mt-5 pt-5">


    <div class="card bg-danger text-white border-card mb-3">
      <div class="row g-0">
        <div class="col-md-4">
          <img th:src="@{/img/access-denied.png}" class="card-img border-card" alt="Accés denegat">
        </div>
        <div class="col-md-8">
          <div class="card-body ms-3 mt-2">
            <h5 class="card-title title-error"><i class="fas fa-hand-paper"></i> Accés denegat</h5>
            <hr>
            <p class="card-text text-error">Actualment no disposa de permisos per poder accedir a la pàgina sol·licitada.</p>
            <p class="card-text text-error">Si ha de tindre accés, si us plau, contacta amb l'administrador de l'aplicació.</p>
            <a th:href="@{/}" class="btn btn-light text-error mt-5" role="button">Pàgina principal</a>
          </div>
        </div>
      </div>
    </div>

  </div>

  <footer th:replace="generic/main :: peu-pagina-generic"></footer>
</body>

</html>