/* Oculta els filtres de la vista usuaris/listar */

#card-filtres {
    display: none;
}

/* Ocultar & mostrar els llistats d'usuaris i departaments */

#mostrar-taula {
    display: none;
}

/* Estil definits per a las cards del menú principal */

.style-card {
    border: none;
}

.style-card p {
    padding-top: 10px;
    padding-bottom: 10px;
}