/*** Scrollbar ***/

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/*** ----------------------- ***/

/*** Tipografies ***/

/* Genèrica */
body {
  font-family: 'Nunito', sans-serif;
  color: #212529;
  /*background-color: #f5f6fa !important;*/
  margin: 0px;
  min-height: 100%;
  width: 100%;
}

/* Nom d'empresa */
.empresa-navbar {
  font-family: 'Ubuntu', sans-serif;
}

html {
  margin: 0px;
  height: 100%;
  width: 100%;
}

/*** ----------------------- ***/

/*** Vista login ***/

/* icones login */
.login-icon div span {
  background-color: #1270CE;
  color: #fff;
}

/* Treure la decoració dels enllaços */
a {
  text-decoration: none !important;
}

/* Contrasenya oblidada */
.pwd-forgotten {
  font-size: 13px;
}

/*** ----------------------- ***/

/* Resaltar una opció */
.warning {
  background-color: #FFB703;
  border-radius: 10px;
  padding: 5px;
}

/* Ocultar i mostrar els filtres de la vista usuaris/listar */
#card-filtres {
  display: none;
}

/* Ocultar i mostrar les taules de les vistes 'veure' */
#mostrar-taula {
  display: none;
}

/* Ocultar i mostrar el canvi de clau al perfil de l'usuari */
#mostrar-canvi-clau {
  display: none;
}

/* Estil aplicat a menu.html */
.style-index {
  opacity: 0.3;
}

#name {
  font-size: 80px;
}

#description {
  font-size: 45px;
}

/* Estil table-striped (bootstrap.min.css) */
.table {
  --bs-table-striped-bg: #609eff2e;
}

/* Estils emprats per a la pàgina d'error 403 */
.border-card {
  border: none;
  border-top-right-radius: inherit;
  border-top-left-radius: inherit;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
  border-bottom-right-radius: inherit;
}

.card {
  border-radius: 10px;
}

.title-error {
  font-size: 3.25rem;
}

.text-error {
  font-size: 1.25rem;
}

.btn-light:hover {
  background-color: #ced4da;
  border-color: #ced4da;
}

/* Estil casella selecció Select 2 (select2.min.css) */
.select2-container--default .select2-selection--multiple {
  border: 1px solid #ced4da;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
  background-color: #E5ECFC;
  border: 1px solid #ced4da;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
  border-right: none;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
  border: solid #ced4da 1px;
  outline: 0;
}

.text-muted {
  font-size: small;
}

/*** NAVBAR EMPRESARIAL ***/
:root {
  --offcanvas-width: 270px;
  --topNavbarHeight: 56px;
}

.sidebar-nav {
  width: var(--offcanvas-width);
}

.sidebar-link {
  display: flex;
  align-items: center;
}

.sidebar-link .right-icon {
  display: inline-flex;
}

.sidebar-link[aria-expanded="true"] .right-icon {
  transform: rotate(180deg);
}

/* Desplaçar els contenidors que comparteixen espai amb el navbar empresarial */
@media (min-width: 993px) and (max-width: 1860px) {
  #move-content {
    margin: 0px 0px 0px 282px;
  }
}

@media (min-width: 992px) {
  body {
    overflow: auto !important;
  }

  #move-content-footer {
    margin: 0px 0px 0px 160px;
    position: unset;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1030;
  }

  /* estil offcanvas del navbar */
  main {
    margin-left: var(--offcanvas-width);
  }

  /* Ocultar el backdrop */
  .offcanvas-backdrop::before {
    display: none;
  }

  .sidebar-nav {
    -webkit-transform: none;
    transform: none;
    visibility: visible !important;
    height: calc(100% - var(--topNavbarHeight));
    top: var(--topNavbarHeight);
  }
}

/* Profile  */
.sidebar-nav .profile-details {
  position: relative;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #212529;
  padding: 12px 0;
  transition: all 0.5s ease;
}

.sidebar.close .profile-details {
  background: none;
}

.sidebar.close .profile-details {
  width: 78px;
}

.sidebar-nav .profile-details .profile-content {
  display: flex;
  align-items: center;
}

.sidebar-nav .profile-details img {
  height: 52px;
  width: 52px;
  object-fit: cover;
  border-radius: 16px;
  margin: 0 14px 0 12px;
  background: #1d1b31;
  transition: all 0.5s ease;
}

.sidebar.close .profile-details img {
  padding: 10px;
}

.sidebar-nav .profile-details .profile_name,
.sidebar-nav .profile-details .job {
  font-size: 18px;
  font-weight: 500;
  white-space: nowrap;
}

.sidebar.close .profile-details i,
.sidebar.close .profile-details .profile_name,
.sidebar.close .profile-details .job {
  display: none;
}

.sidebar-nav .profile-details .job {
  font-size: 12px;
}

/* Color text offcanvas */
.navbar-dark .navbar-nav .nav-link {
  color: #dedede;
}

/* Color text accentuació offcanvas */
.text-highlight {
  color: #609eff;
}

/* Estils al passar el ratolí pel menú offcanvas */
li .nav-link:hover {
  background-color: #f8f9fa;
  color: #282828 !important;
  font-weight: bold;
  border-radius: 25px;
  margin-left: 20px;
  margin-right: 20px;
  transition: 0.7s;
}

/* Estil icona de logout */
.exit-icon {
  color: #f8f9fa;
  font-size: 25px;
  margin: 0 15px;
  cursor: pointer;
}

/* Estils al passar el ratolí per l'icona de logout */
.exit-icon:hover {
  color: #609eff;
  transition: 0.7s;
}

.name-job a {
  color: #f8f9fa;
}

/* Estils al passar el ratolí pel perfil d'usuari d'offcanvas */
.name-job a:hover {
  color: #609eff;
  transition: 0.7s;
}

/* Estils botons bootstrap */

.btn-primary {
  background-color: #1270CE !important;
  border-color: #1270CE !important;
}

.btn-primary:hover {
  background-color: #0d5296 !important;
  border-color: #0d5296 !important;
}

.btn-outline-primary:hover {
  background-color: #0d5296 !important;
  border-color: #0d5296 !important;
}

.page-item.active .page-link {
  background-color: #1270CE !important;
  border-color: #1270CE !important;
}

h3 {
  color: #1270CE;
  font-size: 33px;
}

.accent-blue {
  color: #1E85EB;
}

/* icones de les taules */

.edit-icon {
  color: #1270CE;
}

.delete-icon {
  color: #e53935;
}

.edit-icon:hover {
  color: #0d5296;
}

.delete-icon:hover {
  color: #ab000d;
}

.bg-notification {
  background-color: #f8f9fa;
  padding: 1%;
  margin-bottom: 1%;
}

#taula tr:hover {
  background-color:#609eff5c;
}