<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org" lang="cat">

<head th:replace="generic/main :: head">
</head>

<body>
  <!-- 
		Vista on es fa l'accés a l'aplicació
		Es requereix emprar tant l'usuari com la contrasenya
	-->
  <div th:replace="generic/main :: navbar-generic"></div>
  <div th:replace="generic/main :: mensajes"></div>
  <div class="container mt-5 pt-5 d-flex justify-content-center">

    <div class="mb-4">
      <h2>Inicia sessió</h2>
      <hr>
    </div>
  </div>

  <form th:action="@{/login}" method="post">
    <!-- Username -->
    <div class="row d-flex justify-content-center login-icon">
      <div class="col-xs-2 col-sm-3 col-lg-2 col-xl-2 mb-3">
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1"><i class="fas fa-user"></i></span>
          <input type="text" class="form-control" placeholder="Usuari" aria-label="Username"
            aria-describedby="basic-addon1" name="username" id="username" autofocus required>
        </div>
      </div>
    </div>
    <!-- PWD -->
    <div class="row d-flex justify-content-center login-icon">
      <div class="col-xs-2 col-sm-3 col-lg-2 col-xl-2">
        <div class="input-group mb-3">
          <span class="input-group-text"><i class="fas fa-lock"></i></span>
          <input type="password" class="form-control" placeholder="Contrasenya" aria-label="Username"
            aria-describedby="basic-addon1" name="password" id="password" autofocus required>
        </div>
        <!-- Contrasenya oblidada -->
        <div class="text-end pwd-forgotten">
          <a href="#">Has oblidat la contrasenya?</a>
        </div>
      </div>
    </div>
    <!-- Botó -->
    <div class="pt-3 mb-5 d-flex justify-content-center">
      <input type="submit" class="btn btn-primary" value="Entrar" />
    </div>
  </form>
  <footer th:replace="generic/main :: footer"></footer>
</body>

</html>