<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org" lang="cat">

<head th:replace="generic/main :: head">
</head>

<body class="d-flex flex-column h-100">
  <!-- 
		Vista on s'inicia el procés de recuperació.
		Es requereix emprar l'usuari per enviar l'enllaç al seu correu.
	-->
  <div th:replace="generic/main :: navbar-generic"></div>
  <div th:replace="generic/main :: mensajes"></div>
  <div class="container mt-5 pt-5">

    <div class="d-flex justify-content-center">
      <div class="mb-4">
        <h2>Has oblidat la teva clau?</h2>
        <hr>
      </div>
    </div>

    <form th:action="@{/recover/sendPasswordLink}" method="post">
      <div class="row d-flex justify-content-center">

        <div class="col-sm-2 mb-3">
          <div class="input-group mb-3">
            <label class="col-form-label">Introdueix el teu usuari: </label>
          </div>
        </div>
        <div class="col-sm-2 mb-3">
          <div class="input-group mb-3">
            <input type="text" class="form-control col-sm-3" placeholder="Usuari" aria-label="Username"
              aria-describedby="basic-addon1" name="recover" id="recover" autofocus required>
          </div>
        </div>
        <div class="row d-flex justify-content-center">
          <div class="col-md-8 col-lg-6">
            <p class="text-muted">Si no recordes el teu usuari o no reps el correu electrònic, posa't en contacte amb la
              teva persona responsable.</p>
            <p class="text-muted">El correu pot trigar una estona en arribar. L'enllaç caducarà passades les 48 hores.</p>
          </div>
        </div>
      </div>
      <!-- Botó -->
      <div class="pt-3 mb-5 d-flex justify-content-center">
        <input type="submit" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="bottom"
        title="Recuperar la clau" value="Enviar dades"/>
        <a th:href="@{/}" type="button" class="btn btn-outline-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom"
        title="Tornar a Taskman" style="margin-left: 3%;">Tornar enrere</a>
      </div>
    </form>

  </div>
  <footer th:replace="generic/main :: peu-pagina-generic"></footer>
</body>

</html>
