<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org">

<head th:replace="generic/main :: head">
</head>

<body class="d-flex flex-column h-100">
  <!-- 
		Vista per configurar el temps que requereix la tasca,
    En cas que sigui cíclica, s'haurà d'indicar cada quants dies es repeteix		
	-->
  <div th:replace="generic/main :: navbar-empresa"></div>
  <div class="container mt-5 pt-5" id="move-content">
    <div th:replace="generic/main :: mensajes"></div>
    <!-- Títol -->
    <div class="pb-4">
      <h3 th:text="${titol}"></h3>
    </div>

    <div class="row">
      <form th:action="@{/tasques/configurar}" th:object="${tasca}" method="post">
        <!-- Temps del cicle -->
        <div th:if="${tasca.ciclica}">
          <div class="mb-3 col-4 col-sm-3 col-md-3 col-lg-2 col-xl-2">
            <label class="form-label">Dies que es repeteix la tasca <span class="text-muted">*</span></label>
            <input type="text" class="form-control" th:field="*{tiempoCiclo}" placeholder="Dies" required />
          </div>
        </div>
        <!-- Temps de la fase -->
        <div th:each="fase, iterador: ${tasca.fasesConTiempo}">
          <div class="mb-3 col-4 col-sm-4 col-md-4 col-lg-5 col-xl-5">
            <label class="form-label" th:text="'Minuts que pot durar la fase: ' + ${fase.fase.nombre} + ' *'"></label>
            <div class="mb-3 col-12 col-sm-10 col-md-10 col-lg-5 col-xl-5">
              <input type="text" class="form-control" th:field="*{fasesConTiempo[__${iterador.index}__].tiempoEstimado}"
                placeholder="Minuts" required />
            </div>
          </div>
        </div>
        <p class="text-muted">* Aquests camps són obligatoris</p>

        <!-- Botó -->
        <input type="submit" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="bottom"
          title="Guardar configuració" th:value="${titolBoto}" required />
      </form>
    </div>
  </div>
  <footer th:replace="generic/main :: footer"></footer>
</body>

</html>