<!DOCTYPE html>
<html lang="cat" xmlns:th="http://www.thymeLeaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="generic/main :: head"></head>

<body class="d-flex flex-column h-100">
  <!-- 
		Vista on es troben llistats tots els usuaris amb els seus camps assignats (ID, Nom, Cognoms, DNI, Email, Telèfon, Rol)
		Des d'aquesta vista es podrà accedir en detall dins d'un usuari, edita-ho, i eliminar-ho
		També es pot fer una cerca dels usuaris segons si estan actius o estan deshabilitats, segons el seu rol, nom, cognoms, i DNI
	-->
  <div th:replace="generic/main :: navbar-empresa"></div>
  <div class="container mt-5 pt-5" id="move-content">
    <div th:replace="generic/main :: mensajes"></div>

    <!-- Botó filtres -->
    <button type="button" id="btn-filtres" class="btn btn-primary mb-3" data-bs-toggle="tooltip"
      data-bs-placement="bottom" title="Filtres per cercar usuaris">Filtres</button>

    <!--  Filtres -->
    <div class="card col-sm-12 col-md-8 col-lg-8 col-xl-6" id="card-filtres">
      <div class="card-body">
        <form th:action="@{/usuaris/filtrar}" th:object="${filtreUsuari}" method="post">
          <!-- Estat d'usuari i rol -->
          <div class="row">
            <!-- Estat d'usuari -->
            <div class="col-md-6">
              <label for="tipu-usuari" class="form-label">Escull l'estat de l'usuari</label>
              <!-- Actiu -->
              <div class="form-check">
                <input class="form-check-input" type="radio" name="historic" id="actiu" th:field="*{historic}"
                  th:value=0 />
                <label class="form-check-label" for="flexRadioDefault1">Actiu</label>
              </div>
              <!-- Inactiu -->
              <div class="form-check">
                <input class="form-check-input" type="radio" name="historic" id="historic" th:field="*{historic}"
                  th:value=1 />
                <label class="form-check-label" for="flexRadioDefault2">Històric</label>
              </div>
            </div>
            <!-- Rol -->
            <div class="col-md-6">
              <label for="tipu-usuari" class="form-label">Escull un rol</label>
              <!-- Indiferent -->
              <div class="form-check">
                <input class="form-check-input" type="radio" name="rol" id="indiferent" th:field="*{rol}" th:value=0 />
                <label class="form-check-label" for="flexRadioDefault1">Indiferent</label>
              </div>
              <!-- Usuari -->
              <div class="form-check">
                <input class="form-check-input" type="radio" name="rol" id="usuari" th:field="*{rol}" th:value=2 />
                <label class="form-check-label" for="flexRadioDefault2">Usuari</label>
              </div>
              <!-- Administrador -->
              <div class="form-check">
                <input class="form-check-input" type="radio" name="rol" id="administrador" th:field="*{rol}"
                  th:value=1 />
                <label class="form-check-label" for="flexRadioDefault2">Administrador</label>
              </div>

              <!-- Super Administrador -->
              <div sec:authorize="hasRole('ROLE_TASKMAN')" class="form-check">

                <input class="form-check-input" type="radio" name="rol" id="superadministrador" th:field="*{rol}"
                  th:value=3 />
                <label class="form-check-label" for="flexRadioDefault2">Super Administrador</label>


              </div>
            </div>
          </div>
          <!-- Nom | Cognoms | DNI -->
          <div class="row">
            <!-- Nom -->
            <div class="col-md-12 mt-2">
              <label for="nom" class="form-label">Nom</label> <input class="form-control me-2" type="text"
                placeholder="Cercar nom" aria-label="Search" id="nom" th:field="*{nom}">
            </div>
          </div>
          <div class="row">
            <!-- Cognoms -->
            <div class="col-md-12 mt-2">
              <label for="cognoms" class="form-label">Cognoms</label> <input class="form-control me-2" type="text"
                placeholder="Cercar cognoms" aria-label="Search" id="cognoms" th:field="*{cognoms}">
            </div>
          </div>
          <div class="row">
            <!-- DNI -->
            <div class="col-md-12 mt-2">
              <label for="dni" class="form-label">DNI</label> <input class="form-control me-2" type="text"
                placeholder="Cercar DNI" aria-label="Search" id="dni" th:field="*{dni}">
            </div>
            <div>
              <!-- Botó cercar usuari -->
              <button class="btn btn-primary mt-3" type="submit">Cercar</button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="pb-4 mt-3">
      <h3 class="float-start">Llistat dels usuaris</h3>
    </div>
    <!-- Botó crear usuari -->
    <div class="pt-5 pb-3">
      <a class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Crear nou usuari"
        th:href="@{/usuaris/crear}">Crear usuari</a>
    </div>
    <!-- Taula del llistat dels usuaris -->
    <div class="row">
      <div class="col-12">
        <table class="mt-3 table table-striped">
          <thead>
            <tr>
              <!-- Titols -->
              <th class="text-center" scope="col">#</th>
              <th scope="col">Nom</th>
              <th scope="col">Cognoms</th>
              <th scope="col">DNI</th>
              <th scope="col">Correu electrònic</th>
              <th scope="col">Telèfon</th>
              <th scope="col">Rol</th>
              <th class="text-center" scope="col">Editar</th>
              <th class="text-center" scope="col">Eliminar</th>
            </tr>
          </thead>
          <!-- Usuaris llistats -->
          <tbody>
            <tr th:each="usuari: ${usuaris}">
              <td class="text-center">
                <a class="btn btn-outline-primary btn-sm" data-bs-toggle="tooltip" data-bs-placement="bottom"
                  title="Veure usuari" th:href="@{/usuaris/ver/}+ ${usuari.id}" th:text="${usuari.id}">
                </a>
              </td>
              <td th:text="${usuari.nombre}"></td>
              <td th:text="${usuari.apellidos}"></td>
              <td th:text="${usuari.dni}"></td>
              <td th:text="${usuari.email}"></td>
              <td th:text="${usuari.telefono}"></td>
              <td th:text="${usuari.rol.nombre}"></td>
              <td class="text-center">
                <a data-bs-toggle="tooltip" data-bs-placement="bottom" title="Editar"
                  th:href="@{/usuaris/actualizar/}+ ${usuari.id}"><i class="fas fa-edit edit-icon"></i>
                </a>
              </td>
              <td class="text-center">
                <a data-bs-toggle="tooltip" data-bs-placement="bottom" title="Eliminar"
                  th:href="@{/usuaris/eliminar/}+ ${usuari.id}"
                  onclick="return confirm('Estàs segur que vols eliminar?');"><i
                    class="fas fa-trash delete-icon"></i></a>
              </td>
            </tr>
          </tbody>
        </table>
        <nav th:replace="generic/paginator-nav :: paginador"></nav>
      </div>
    </div>
  </div>

  <footer th:replace="generic/main :: peu-pagina"></footer>

</body>

</html>