<!DOCTYPE html>
<html lang="cat" xmlns:th="http://www.thymeLeaf.org">

<head th:replace="generic/main :: head"></head>

<body class="d-flex flex-column h-100">
  <!-- 
		Vista del perfil de l'usuari
		Es poden modificar els camps de telèfon, correu electrònic, nickname, la foto de perfil, i la clau.
	-->
  <div th:replace="generic/main :: navbar-empresa"></div>
  <div class="container mt-5 pt-5" id="move-content">
    <div th:replace="generic/main :: mensajes"></div>
    <div class="pb-4">
      <h3 th:text="${titol}"></h3>
    </div>

    <div>
      <form th:action="@{/usuaris/guardar}" th:object="${usuari}" method="post" enctype="multipart/form-data">

        <div class="row">
          <!-- Nom -->
          <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
            <label for="nom" class="form-label">Nom</label>
            <input type="text" class="form-control" id="nom" maxlength="255" th:field="*{nombre}" disabled>
          </div>
          <!-- Cognoms -->
          <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
            <label for="cognoms" class="form-label">Cognoms</label>
            <input type="text" class="form-control" id="cognoms" maxlength="255" th:field="*{apellidos}" disabled>
          </div>
        </div>

        <div class="row pt-3">
          <!-- Nickname -->
          <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
            <label for="username" class="form-label">Nickname</label>
            <input type="text" class="form-control" id="username" maxlength="255" th:field="*{username}">
            <div th:if="${#fields.hasErrors('nombre')}" th:errors="*{username}" class="my-2 alert alert-danger"></div>
          </div>
          <!-- DNI -->
          <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
            <label for="dni" class="form-label">DNI</label>
            <input type="text" class="form-control" id="dni" maxlength="9" th:field="*{dni}" disabled>
            <div th:if="${#fields.hasErrors('dni')}" th:errors="*{dni}" class="my-2 alert alert-danger"></div>
          </div>
        </div>

        <div class="row pt-3">
          <!-- Telèfon -->
          <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
            <label for="telefon" class="form-label">Telèfon <span class="text-muted">*</span></label>
            <input type="text" class="form-control" id="telefon" maxlength="9" th:field="*{telefono}">
            <div th:if="${#fields.hasErrors('telefono')}" th:errors="*{telefono}" class="my-2 alert alert-danger"></div>
          </div>

          <!-- Correu electrònic -->
          <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
            <label for="correu" class="form-label">Correu eletrònic <span class="text-muted">*</span></label>
            <input type="text" class="form-control" id="correu" maxlength="255" th:field="*{email}">
            <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="my-2 alert alert-danger">
            </div>
          </div>
        </div>

        <div class="row pt-3">
          <!-- Rol -->
          <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
            <label for="rol" class="form-label">Rol</label>
            <input type="text" class="form-control" id="rol" th:field="${usuari.rol.nombre}" disabled>
          </div>
        </div>
        <!-- Foto perfil -->
        <div class="row pt-3">
          <div class="col-12 col-sm-8 col-md-8 col-lg-5 col-xl-5">
            <img class="img-thumbnail img-fluid" style="max-width: 15%;"
              th:if="${#strings.length(usuariAutenticat.foto)>0}" th:src="@{'/uploads/' + ${usuariAutenticat.foto}}"
              th:alt="${usuariAutenticat.foto}" /> <label for="file" class="form-label">Foto</label> <input type="file"
              class="form-control" name="file" />
          </div>
        </div>

        <div class="row pt-3">
          <p class="text-muted mt-3">* Aquests camps són obligatoris</p>
        </div>
        <!-- Botó -->
        <div class="mb-2">
          <input type="submit" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="bottom"
            title="Modificar perfil" th:value="${titolBoto}" />
        </div>
      </form>
    </div>
    <!-- Canvi de contrasenya -->
    <div class="mt-5">
      <div class="pb-4">
        <h5>Canviar contrasenya</h5>
      </div>
      <p>Si desitges canviar la contrasenya que tens actualment per iniciar sessió, fes clic &nbsp;<button type="button"
          id="btn-canvi-clau" class="btn btn-warning btn-sm"><strong>aquí</strong></button></p>
    </div>
    <!-- Formulari canvi de clau -->
    <div id="mostrar-canvi-clau">
      <form th:action="@{/usuaris/guardarContrasenya}" th:object="${canviContrasenya}" method="post">
        <input type="hidden" id="id" th:field="*{id}" />
        <!-- Contrasenya actual -->
        <div class="row pt-3">
          <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
            <label for="oldPassword" class="form-label">Contrasenya actual <span class="text-muted">*</span></label>
            <input type="password" class="form-control" id="oldPassword" th:field="*{oldPassword}" />
            <div th:if="${#fields.hasErrors('oldPassword')}" th:errors="*{oldPassword}" class="my-2 alert alert-danger">
            </div>
          </div>
        </div>
        <!-- Nova contrasenya -->
        <div class="row pt-3">
          <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
            <label for="nouPassword" class="form-label">Nova contrasenya <span class="text-muted">*</span></label>
            <input type="password" class="form-control" id="nouPassword" th:field="*{newPassword}" />
          </div>
        </div>
        <div class="row pt-3">
          <p class="text-muted">* Aquests camps són obligatoris</p>
        </div>
        <!-- Botó -->
        <div class="mb-2">
          <input type="submit" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="bottom"
            title="Canviar contrasenya" th:value="${titolBoto}" />
        </div>
      </form>
    </div>
  </div>

  <footer th:replace="generic/main :: peu-pagina"></footer>
</body>

</html>