<!DOCTYPE html>
<html lang="cat" xmlns:th="http://www.thymeLeaf.org">

<head th:replace="generic/main :: head"></head>

<body>
	<!-- 
		Vista on es pot veure el detall de l'usuari seleccionat: Nom, cognoms, DNI, telèfon, Correu electrònic, rol
		A sota d'aquests camps d'informació, es poden mostrar u ocultar els departaments als quals pertany aquest usuari
	-->
	<div th:replace="generic/main :: navbar-empresa"></div>
	<div class="container mt-5 pt-5">
		<div class="pb-4">
			<h3 th:text="${usuari.nombre} + ' ' + ${usuari.apellidos}"></h3>
		</div>
		<div>
			<form th:object="${usuari}" method="post">
				<fieldset disabled>
					<!-- Nom i Cognoms -->
					<div class="row">
						<div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
							<label for="nom" class="form-label">Nom</label> <input type="text" class="form-control"
								id="nom" th:field="*{nombre}" />
						</div>
						<div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
							<label for="cognoms" class="form-label">Cognoms</label> <input type="text"
								class="form-control" id="cognoms" th:field="*{apellidos}" />
						</div>
					</div>
					<!-- DNI i Telèfon -->
					<div class="row pt-3">
						<div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
							<label for="dni" class="form-label">DNI</label> <input type="text" class="form-control"
								id="dni" th:field="*{dni}" />
						</div>
						<div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
							<label for="telefon" class="form-label">Telèfon</label> <input type="text"
								class="form-control" id="telefon" th:field="*{telefono}" />
						</div>
					</div>
					<!-- Correu electrònic i Rol -->
					<div class="row pt-3">
						<div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
							<label for="correu" class="form-label">Correu eletrònic</label> <input type="text"
								class="form-control" id="correu" th:field="*{email}" />
						</div>
						<div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
							<label for="rol" class="form-label">Rol</label> <input type="text" class="form-control"
								id="rol" th:field="*{rol.nombre}" />
						</div>
					</div>
				</fieldset>
			</form>
		</div>

		<!-- Botó per ocultar / mostrar la llista de departaments -->
		<input type="submit" class="btn btn-primary mt-4 mb-2" data-bs-toggle="tooltip" data-bs-placement="bottom"
		title="Mostrar els departaments d'aquest usuari" id="btn-filtres" th:value="${boton}" />
		<!-- Llistat de departaments assignats a aquest usuari -->
		<div class="row mt-5" id="mostrar-taula">
			<div class="pb-4 mt-3">
				<h3 class="float-start">Llistat dels departaments</h3>
			</div>
			<div class="col-12 mt-4 pt-1">
				<table class="mt-3 table table-striped">
					<thead>
						<tr>
							<!-- Titols -->
							<th class="text-center" scope="col">#</th>
							<th class="text-center" width="15%" scope="col">Àlies</th>
							<th width="85%" scope="col">Nom</th>
							<th class="text-center" scope="col">Editar</th>
							<th class="text-center" scope="col">Eliminar</th>
						</tr>
					</thead>
					<!-- Departaments llistats -->
					<tbody>
						<tr th:each="departament: ${deps}">
							<td class="text-center"><a class="btn btn-outline-primary btn-sm"
									th:href="@{/departaments/ver/}+ ${departament.id}" th:text="${departament.id}"></a>
							</td>
							<td class="text-center" th:text="${departament.codigo}"></td>
							<td th:text="${departament.nombre}"></td>
							<td class="text-center"><a th:href="@{/departaments/actualizar/}+ ${departament.id}"><i
										class="fas fa-edit text-primary"></i></a></td>
							<td class="text-center"><a th:href="@{/departaments/eliminar/}+ ${departament.id}"
									onclick="return confirm('Estàs segur que vols eliminar?');"><i
										class="fas fa-trash text-danger"></i></a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<footer th:replace="generic/main :: footer"></footer>
</body>

</html>