<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="generic/main :: head"></head>

<body class="d-flex flex-column h-100">
  <!--
		Vista de la pàgina inicial (home) que carrega en accedir a l'aplicació
    Es podrà visualitzar el nom de TaskMan, el logotip, i la descripció
		Els elements es mostren en format de marca d'aigua
	-->
  <div th:replace="generic/main :: navbar-empresa"></div>
  <div class="container mt-5 pt-5" id="move-content">

    <div class="pb-4 mt-4">
      <h3 th:text="'Ordres pendents de realitzar'"></h3>
    </div>
    <div class="mt-3">

      <div th:if="${notificacioActual!=null}">
        <h5> <strong>Notificació actual:</strong> <a th:href="@{/notificaciones/progreso/} + ${notificacioActual.id}"
            th:text="${notificacioActual.fase.orden.tasca.nombre}"></a></h5>

      </div>
      <div class="row">
        <div class="col-12">
          <table class="mt-3 table table-striped" id="taula">
            <thead>
              <tr>
                <!-- Titols -->
                <th class="text-center" scope="col">#</th>
                <th scope="col">Codi</th>
                <th scope="col">Nom</th>
                <th scope="col">Prioritat</th>
                <th class="text-center" scope="col">Unitats</th>
                <th scope="col">Data fi</th>
                <th class="text-center" scope="col">Estat de bloqueig</th>
              </tr>
            </thead>
            <!-- Llistat -->
            <tbody>
              <tr th:each="orden: ${ordres}" th:data-src="@{/fasesExecutables/ver/}+ ${orden.id}"
                style="cursor: pointer">
                <td class="text-center">
                  <span class="btn btn-outline-primary btn-sm" th:text="${orden.id}"></span>
                </td>
                <td class="text-center" th:text="${orden.tasca.codigo}"></td>
                <td th:text="${orden.tasca.nombre}"></td>
                <td th:text="${orden.prioridad}"></td>
                <td class="text-center" th:text="${orden.cantidad}"></td>
                <td th:text="${orden.dataFin}"></td>
                <td class="text-center" th:if="${orden.bloqueada}">
                  <i class="fas fa-lock lock-icon text-center" style="color:#e53935;font-size: 1.5em;"></i>
                </td>
                <td class="text-center" th:if="${not orden.bloqueada}">
                  <i class="fas fa-unlock-alt text-center" style="color:#499849;font-size: 1.5em;"></i>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <footer th:replace="generic/main :: peu-pagina"></footer>

  <script>
    $("#taula tbody tr").on("click", function () {
      window.location.href = $(this).data('src');
    });
  </script>
</body>

</html>