<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="generic/main :: head"></head>

<body>
  <!--
		Vista de la pàgina inicial (home) que carrega en accedir a l'aplicació
    Es podrà visualitzar el nom de TaskMan, el logotip, i la descripció
		Els elements es mostren en format de marca d'aigua
	-->
  <div th:replace="generic/main :: navbar-empresa"></div>
  <div class="container mt-5 pt-5" id="move-content">
    <div th:replace="generic/main :: mensajes"></div>
    <div class="text-center mt-5 pt-5">
      <div class="row">
        <div class="col-12">
          <h1 class="style-index empresa-navbar" id="name">TaskMan</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-12 mt-5 mb-3">
          <img class="style-index" th:src="@{/img/logo-taskman.png}" alt="" width="200" height="200">
        </div>
      </div>
      <div class="row mt-5 mb-3">
        <div class="col-12">
          <h3 class="style-index" id="description"><i>Gestor de tasques</i></h3>
        </div>
      </div>
    </div>
  </div>

  <footer th:replace="generic/main :: footer"></footer>
</body>

</html>