<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!-- 
	Vista on es guarden les parts del codi reutilitzable
	-- Head ==>  Apartat on es guarden el charset per poder codificar els accents i símbols,
				 l'etiqueta per un correcte funcionament des de dispositius mòbils,
				 els títols de les diferents vistes, i les biblioteques d'estils
	-- Footer ==> Apartat on es guarden les biblioteques de jQuery i JS
	-- Missatges d'esdeveniments ==> Missatges d'alerta que es mostren quan succeeix algun esdeveniment
  -- Capçalera genèrica ==> Navbar genèric que carrega en la creació de l'empresa i l'inici de sessió
  -- Capçalera empresarial ==> Navbar empresarial per poder navegar per les diferents vistes del programa;
      també disposa d'informació de l'usuari que ha iniciat sessió i el botó per fer logout
-->

<!-- Head -->

<head th:fragment="head">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title th:text="${titol}"></title>
  <!-- Bootstrap CSS -->
  <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
  <link th:href="@{/plugins/font-awesome-5/css/fontawesome.min.css}" rel="stylesheet" />
  <!-- Select2 Bootstrap 5 -->
  <link th:href="@{/plugins/select2/dist/css/select2.min.css}" rel="stylesheet" />
  <link rel="stylesheet" th:href="@{/css/select2-bootstrap-5-theme.min.css}" />
  <!-- CSS -->
  <link th:href="@{/css/css-main.css}" rel="stylesheet" />
  <link th:href="@{/css/queries.css}" rel="stylesheet" />
  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <!-- Ubuntu -->
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap" rel="stylesheet">
  <!-- Nunito -->
  <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
</head>

<!-- Footer navbar empresarial -->
<footer class="footer mt-auto py-3 bg-light" id="move-content-footer" th:fragment="peu-pagina">
  <div class="container mt-3">
    <div class="d-flex justify-content-around">
      <span>©2021 Taskman SL. Gestió de tasques</span>
      <ul class="list-unlysted list-inline">
        <li class="list-inline-item">
          <a href="https://google.com" target="_blank" data-bs-toggle="tooltip" data-bs-placement="bottom"
          title="Twitter"><i class="fab fa-twitter"></i></a>
        </li>
        <li class="list-inline-item">
          <a href="https://google.com" target="_blank" data-bs-toggle="tooltip" data-bs-placement="bottom"
          title="Instagram"><i class="fab fa-instagram"></i></a>
        </li>
        <li class="list-inline-item">
          <a href="https://google.com" target="_blank" data-bs-toggle="tooltip" data-bs-placement="bottom"
          title="Pàgina web"><i class="fas fa-globe"></i></a>
        </li>
        <li class="list-inline-item">
          <a href="https://google.com" target="_blank" data-bs-toggle="tooltip" data-bs-placement="bottom"
          title="Contacte"><i class="fas fa-envelope"></i></a>
        </li>
        <li class="list-inline-item">
          <a href="https://google.com" target="_blank" data-bs-toggle="tooltip" data-bs-placement="bottom"
          title="Privacitat"><i class="fas fa-user-shield"></i></a>
        </li>
      </ul>
    </div>
  </div>

  <script th:src="@{/js/jquery-3.6.0.min.js}"></script>
  <script src="https://unpkg.com/@popperjs/core@2"></script>
  <script th:src="@{/js/bootstrap.min.js}"></script>
  <script th:src="@{/plugins/select2/dist/js/select2.min.js}"></script>
  <script th:src="@{/plugins/font-awesome-5/js/all.min.js}"></script>
  <script th:src="@{/js/js-main.js}"></script>
</footer>

<!-- Footer genèric -->
<footer class="footer mt-auto py-3 bg-light" th:fragment="peu-pagina-generic">
  <div class="container mt-3">
    <div class="d-flex justify-content-around">
      <span>©2021 Taskman SL. Gestió de tasques</span>
      <ul class="list-unlysted list-inline">
        <li class="list-inline-item">
          <a href="https://google.com" target="_blank" data-bs-toggle="tooltip" data-bs-placement="bottom"
          title="Twitter"><i class="fab fa-twitter"></i></a>
        </li>
        <li class="list-inline-item">
          <a href="https://google.com" target="_blank" data-bs-toggle="tooltip" data-bs-placement="bottom"
          title="Instagram"><i class="fab fa-instagram"></i></a>
        </li>
        <li class="list-inline-item">
          <a href="https://google.com" target="_blank" data-bs-toggle="tooltip" data-bs-placement="bottom"
          title="Pàgina web"><i class="fas fa-globe"></i></a>
        </li>
        <li class="list-inline-item">
          <a href="https://google.com" target="_blank" data-bs-toggle="tooltip" data-bs-placement="bottom"
          title="Contacte"><i class="fas fa-envelope"></i></a>
        </li>
        <li class="list-inline-item">
          <a href="https://google.com" target="_blank" data-bs-toggle="tooltip" data-bs-placement="bottom"
          title="Privacitat"><i class="fas fa-user-shield"></i></a>
        </li>
      </ul>
    </div>
  </div>

  <script th:src="@{/js/jquery-3.6.0.min.js}"></script>
  <script src="https://unpkg.com/@popperjs/core@2"></script>
  <script th:src="@{/js/bootstrap.min.js}"></script>
  <script th:src="@{/plugins/select2/dist/js/select2.min.js}"></script>
  <script th:src="@{/plugins/font-awesome-5/js/all.min.js}"></script>
  <script th:src="@{/js/js-main.js}"></script>
</footer>

<!-- Missatges d'esdeveniments -->

<body>
  <div th:fragment="mensajes" class="position-relative">
    <!-- Success -->
    <div class="row d-flex justify-content-center mb-2 ms-2 me-2">
      <div class="col-2"></div>
      <div class="col-xs-4 col-sm-8 col-lg-4 col-xl-4 alert alert-success alert-dismissible fade show text-center mt-2"
        th:if="${success!=null}" role="alert">
        <span th:text="${success}"></span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      <div class="col-2"></div>
    </div>
    <!-- Error -->
    <div class="row d-flex justify-content-center mb-2 ms-2 me-2">
      <div class="col-2"></div>
      <div class="col-xs-4 col-sm-8 col-lg-4 col-xl-4 alert alert-danger alert-dismissible fade show text-center"
        th:if="${error!=null}" role="alert">
        <span th:text="${error}"></span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      <div class="col-2"></div>
    </div>
    <!-- Warning -->
    <div class="row d-flex justify-content-center mb-2 ms-2 me-2">
      <div class="col-2"></div>
      <div class="col-xs-4 col-sm-8 col-lg-4 col-xl-4 alert alert-warning alert-dismissible fade show text-center"
        th:if="${warning!=null}" role="alert">
        <span th:text="${warning}"></span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      <div class="col-2"></div>
    </div>
    <!-- Info -->
    <div class="row d-flex justify-content-center mb-2 ms-2 me-2">
      <div class="col-2"></div>
      <div class="col-xs-4 col-sm-8 col-lg-4 col-xl-4 alert alert-info alert-dismissible fade show text-center"
        th:if="${info!=null}" role="alert">
        <span th:text="${info}"></span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      <div class="col-2"></div>
    </div>
  </div>
</body>

<!-- Capçalera genèrica -->
<div th:fragment="navbar-generic" class="bg-dark text-white" id="navbar-generic">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container mr-5">
      <a class="navbar-brand fs-1">
        <!-- Logo --> <img th:src="@{/img/logo-taskman.png}" alt="" width="50" height="44"
          class="d-inline-block align-text-top"> <!-- Nom empresa -->
        &nbsp;<strong class="empresa-navbar">TaskMan</strong>
      </a>
      <!-- Menú -->
      <div class="collapse navbar-collapse justify-content-end fs-5" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <!-- Home -->
          <li class="nav-item"><a class="nav-link active fst-italic" aria-current="page">Gestor de tasques</a></li>
        </ul>
      </div>
    </div>
  </nav>
</div>

<!-- Capçalera empresarial	-->
<div th:fragment="navbar-empresa" class="bg-dark text-white">
  <!-- Navbar horitzontal -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container mr-5">
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebar"
        aria-controls="offcanvasExample">
        <span class="navbar-toggler-icon" data-bs-target="#sidebar"></span>
      </button>
      <a class="navbar-brand fs-4 me-auto ms-lg-0 ms-3 text-uppercase fw-bold">
        <!-- Logo -->
        <img th:if="${#strings.length(empresa.logo)>0}" th:src="@{'/uploads/' + ${empresa.logo}}"
          th:alt="${empresa.logo}" alt="" width="36" height="32" class="d-inline-block align-text-top">
        <!-- Nom empresa -->
        &nbsp;<strong class="empresa-navbar" th:text="${empresa.nombre}"></strong>
      </a>
    </div>
  </nav>
  <!-- Navbar vertical (offcanvas) -->
  <div class="offcanvas offcanvas-start sidebar-nav bg-dark" tabindex="-1" id="sidebar">
    <div class="offcanvas-body p-0">
      <nav class="navbar-dark">
        <ul class="navbar-nav">
          <!-- Profile -->
          <li sec:authorize="isAuthenticated()" class="nav-item">
            <div class="profile-details">
              <div class="profile-content">
                <img th:src="@{'/uploads/' + ${usuariAutenticat.foto}}" th:alt="${usuariAutenticat.foto}" />
              </div>
              <div class="name-job" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Perfil d'usuari">
                <a th:href="@{/usuaris/modificar_perfil}">
                  <div class="profile_name" th:text="${usuariAutenticat.username}"></div>
                  <div class="job" th:text="${usuariAutenticat.rol.nombre}"></div>
                </a>
              </div>
              <form id="logoutForm" th:action="@{/logout}" method="post" data-bs-toggle="tooltip"
                data-bs-placement="bottom" title="Tancar sessió">
                <i class="fas fa-sign-out-alt exit-icon" onclick="document.getElementById('logoutForm').submit();"
                  type="submit"></i>
              </form>
            </div>
          </li>

          <hr class="dropdown-divider bg-light" />
          <!-- Home -->
          <li>
            <a th:href="@{/perfil}" class="nav-link px-3 mb-0 ">
              <span class="me-2"><i class="fas fa-tachometer-alt"></i></span>
              <span>Dashboard</span>
            </a>
          </li>

          <!-- hr -->
          <li class="my-3">
            <hr class="dropdown-divider bg-light" />
          </li>
          <!-- Tasques-->
          <li sec:authorize="hasRole('ROLE_ADMIN')">
            <div class="text-highlight small fw-bold text-uppercase px-3 mb-2"><i class="fab fa-buffer"></i>
              &nbsp;Tasques
            </div>
          </li>
          <li sec:authorize="hasRole('ROLE_ADMIN')">
            <a class="nav-link px-3 sidebar-link" th:href="@{/tasques/crear}">
              <span class="me-2"><i class="far fa-plus-square"></i></span>
              <span>Crear tasca</span>
            </a>
          </li>
          <li sec:authorize="hasRole('ROLE_ADMIN')">
            <a class="nav-link px-3 sidebar-link" th:href="@{/tasques/listar}">
              <span class="me-2"><i class="fas fa-list"></i></span>
              <span>Llistar tasques</span>
            </a>
          </li>

          <!-- hr -->
          <li class="my-3">
            <hr class="dropdown-divider bg-light" />
          </li>
          <!-- Fases-->
          <li sec:authorize="hasRole('ROLE_ADMIN')">
            <div class="text-highlight small fw-bold text-uppercase px-3 mb-2"><i class="fas fa-bookmark"></i>
              &nbsp;Fases
            </div>
          </li>
          <li sec:authorize="hasRole('ROLE_ADMIN')">
            <a class="nav-link px-3 sidebar-link" th:href="@{/fases/crear}">
              <span class="me-2"><i class="far fa-plus-square"></i></span>
              <span>Crear fase</span>
            </a>
          </li>
          <li sec:authorize="hasRole('ROLE_ADMIN')">
            <a class="nav-link px-3 sidebar-link" th:href="@{/fases/listar}">
              <span class="me-2"><i class="fas fa-list"></i></span>
              <span>Llistar fases</span>
            </a>
          </li>

          <!-- hr -->
          <li class="my-3">
            <hr class="dropdown-divider bg-light" />
          </li>
          <!-- Ordres -->
          <li sec:authorize="hasRole('ROLE_ADMIN')">
            <div class="text-highlight small fw-bold text-uppercase px-3 mb-2"><i class="fas fa-bullhorn"></i>
              &nbsp;Ordres
            </div>
          </li>
          <li sec:authorize="hasRole('ROLE_ADMIN')">
            <a class="nav-link px-3 sidebar-link" th:href="@{/ordenes/crear}">
              <span class="me-2"><i class="far fa-plus-square"></i></span>
              <span>Crear ordre</span>
            </a>
          </li>
          <li sec:authorize="hasRole('ROLE_ADMIN')">
            <a class="nav-link px-3 sidebar-link" th:href="@{/ordenes/crearCiclica}">
              <span class="me-2"><i class="fas fa-sync-alt"></i></span>
              <span>Crear ordre cíclica</span>
            </a>
          </li>
          <li sec:authorize="hasRole('ROLE_ADMIN')">
            <a class="nav-link px-3 sidebar-link" th:href="@{/ordenes/listar}">
              <span class="me-2"><i class="fas fa-list"></i></span>
              <span>Llistar ordres</span>
            </a>
          </li>

          <!-- hr -->
          <li class="my-3">
            <hr class="dropdown-divider bg-light" />
          </li>
          <!-- Departaments -->
          <li sec:authorize="hasRole('ROLE_ADMIN')">
            <div class="text-highlight small fw-bold text-uppercase px-3 mb-2"><i class="fas fa-user-friends"></i>
              &nbsp;Departaments
            </div>
          </li>
          <li sec:authorize="hasRole('ROLE_ADMIN')">
            <a class="nav-link px-3 sidebar-link" th:href="@{/departaments/crear}">
              <span class="me-2"><i class="far fa-plus-square"></i></span>
              <span>Crear departament</span>
            </a>
          </li>
          <li sec:authorize="hasRole('ROLE_ADMIN')">
            <a class="nav-link px-3 sidebar-link" th:href="@{/departaments/listar}">
              <span class="me-2"><i class="fas fa-list"></i></span>
              <span>Llistar departaments</span>
            </a>
          </li>

          <!-- hr -->
          <li class="my-3">
            <hr class="dropdown-divider bg-light" />
          </li>
          <!-- Usuaris -->
          <li sec:authorize="hasRole('ROLE_ADMIN')">
            <div class="text-highlight small fw-bold text-uppercase px-3 mb-2"><i class="fas fa-user"></i>
              &nbsp;Usuaris
            </div>
          </li>
          <li sec:authorize="hasRole('ROLE_ADMIN')">
            <a class="nav-link px-3 sidebar-link" th:href="@{/usuaris/crear}">
              <span class="me-2"><i class="far fa-plus-square"></i></span>
              <span>Crear usuari</span>
            </a>
          </li>
          <li sec:authorize="hasRole('ROLE_ADMIN')">
            <a class="nav-link px-3" th:href="@{/usuaris/listar}">
              <span class="me-2"><i class="fas fa-list"></i></span>
              <span>Llistar usuaris</span>
            </a>
          </li>

          <!-- hr -->
          <li class="my-3">
            <hr class="dropdown-divider bg-light" />
          </li>
          <!-- Empresa -->
          <li sec:authorize="hasRole('ROLE_SUPER')">
            <div class="text-highlight small fw-bold text-uppercase px-3 mb-2"><i class="fas fa-briefcase"></i>
              &nbsp;Empresa
            </div>
          </li>
          <li sec:authorize="hasRole('ROLE_SUPER')">
            <a class="nav-link px-3 sidebar-link mb-2" th:href="@{/empreses/actualizar}">
              <span class="me-2"><i class="fas fa-edit"></i></span>
              <span>Modificar dades</span>
            </a>
          </li>

        </ul>
      </nav>
    </div>
  </div>

</div>

</html>